
 <div class="col-lg-6">
    <form #forma="ngForm">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Nombres</span>
        <input type="text" class="form-control"  aria-describedby="basic-addon1">
      </div>  
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Apellidos</span>
        <input type="text" class="form-control"  aria-describedby="basic-addon1">
      </div>  
      <div class="row">
          <div class="col-lg-6">
              <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">DNI</span>
                  <input type="text" class="form-control"  aria-describedby="basic-addon1">
                </div>  
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-6">
              <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Usuario Red</span>
                  <input type="text" class="form-control"  aria-describedby="basic-addon1">
                </div> 
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Correo</span>
                    <input type="text" class="form-control"  aria-describedby="basic-addon1">
                  </div>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Fecha Nac</span>
                    <input type="text" class="form-control"  aria-describedby="basic-addon1">
                  </div>  
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Fecha Baja</span>
          <input type="text" class="form-control"  aria-describedby="basic-addon1">
        </div>

        <div class="center ">
            <button type="button" class="btn btn-primary" >Guardar
            </button>
          </div>


      </form>



</div> 

  <div class="col-lg-6">

  
  </div>

    

